#cloud-config

# Nota: tivemos que substituir o _ (underscore) por um traço,
# pois o cloud_init não estava sendo lido corretamente sem isso
# Ver: https://docs.cloud-init.io/en/latest/reference/config-format-headers.html#user-data-headers

hostname: ${hostname}
manage_etc_hosts: true

# Usuário
users:
  - default
  - name: aluno
    gecos: DevOps Lab
    # Grupos
    groups:
      - adm
      - sudo
    shell: /bin/bash
    # Regras de uso do sudo
    sudo:
      # De acordo com a documentação, regras do SUDO devem ser
      # strings envolvidas em aspas
      - "ALL=(ALL) NOPASSWD: ALL"
    ssh_authorized_keys:
      - ${ssh_key}

ssh_pwauth: false
disable_root: true
