#cloud-config

hostname: ${hostname}
manage_etc_hosts: true

# Usuário
users:
  - default
  - name: aluno
    gecos: DevOps Lab
    # Grupos
    groups:
      - adm
      - sudo
    shell: /bin/bash
    # Regras de uso do sudo
    sudo:
      - ALL=(ALL) NOPASSWD: ALL
    ssh_authorized_keys:
      - ${ssh_key}

ssh_pwauth: false
disable_root: true
